.custom-color-btn-primary {
    --btn-bg: #FE4002 !important;
    --btn-border-color: #FE4002 !important;
    --btn-active-color: #FE4002 !important;
    --btn-active-border-color: #FE4002 !important;
    --btn-disabled-bg: #FE4002 !important;
    --btn-disabled-border-color: #FE4002 !important;
    --btn-hover-bg: #b62d00 !important;
    --btn-hover-border-color: #b62d00 !important;
    --btn-color: #FFF !important;
}
